{% extends 'base.html.twig' %}

{% block content%}
    {% set inventory = app.user.players|last.inventory.items %}
    {% set chest = app.user.players|last.island.hut.chest %}

    <section class="hut_panel">
        <article class="inventory_panel">
            <h1>Inventaire</h1>
            <ul>
                {% if (inventory|length == 0) %}
                <!-- Inventaire vide. -->

                {% else %}
                {% for item in inventory %}
                <li>
                    <p><b>{{item.name}}</b> : {{ item.description }}</p>
                    <input type="button" itemid="{{item.id}}" name="put-in-chest" class="put-in-chest-button" value="Déposer">
                </li>
                {% endfor %}
                {% endif %}

            </ul>
        </article>


        <article class="chest_panel">
        <h1>Coffre</h1>
        <ul>
            {% if (chest|length == 0) %}
                <!-- <p>Coffre vide.</p> -->

            {% else %}
                {% for item in chest %}
                <li>
                    <p><b>{{item.name}}</b> : {{ item.description }}</p>
                    <input type="button" itemid="{{item.id}}" name="take-from-chest" class="take-from-chest-button"  value="Prendre">
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </article>

    </section>



{% endblock %}
