<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MIAB: Message In A Bottle{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/global.css')}}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('icons/favicon.ico') }}" />
    </head>

<body>


{% block header %}


<header>

      <a href="/"><img src="{{ asset('img/miab-logo.png') }}"  class="miab-logo" alt="Message In The Bottle - Logo"></a>
      <nav>
          <a href="#" id="menu-icon"></a>
          <ul class="nav-menu">
                {% if app.user is null %}
                      <li>
                          <a href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>
                      </li>
                      <li>
                          <a href="/register">Inscription</a>
                      </li>

                {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <a href="#">
                            Hutte
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Forêt
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Plage
                        </a>
                    </li>

                {% endif %}

                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
          </ul>
      </nav>

      {% if app.user %}
        <ul class="header-rightpart">
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <img class="disconnection_icon" src="{{asset('icons/disconnection.png')}}" alt="Icone de déconnexion">
                </a>
            </li>
        </ul>
        {% else %}
            <div class="header-rightpart-blankspace">

            </div>
        {% endif %}
</header>
{% endblock %}


{% block content %}
  {% block fos_user_content %}
  {% endblock %}
{% endblock %}




{% block footer %}
        <footer>
          <p>Epic Footer</p>
        </footer>
{% endblock %}


{% block javascripts %}
{% endblock %}

<script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>


    </body>

</html>
