<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MIAB: Message In A Bottle{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/global.css')}}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('icons/favicon.ico') }}" />
        <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
    </head>

    <body>

    {% block header %}
        <header>

          <a href="/"><img src="{{ asset('img/miab-logo.png') }}"  class="miab-logo" alt="Message In The Bottle - Logo"></a>

          <nav>
              <a href="#" id="menu-icon"></a>
              <ul class="nav-menu">
                    {% if app.user is null %}
                          <li>
                              <a href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>
                          </li>
                          <li>
                              <a href="/register">Inscription</a>
                          </li>

                    {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if app.user.isPlaying %}

                            {% set currentuser = (app.user.players|last) %}
                            <li class="hut">
                                <a href="{{ path('hut_show', {'id': currentuser.island.hut.id})}}">
                                    Hutte
                                </a>
                            </li>
                            <li class="forest">
                                <a href="{{ path('forest_show', {'id': currentuser.island.forest.id})}}">
                                    Forêt
                                </a>
                            </li>
                            <li class="beach">
                                <a href="{{ path('beach_show', {'id': currentuser.island.beach.id})}}">
                                    Plage
                                </a>
                            </li>

                        {% else %}
                            <li>
                                <a href="{{ path('worldgame_index')}}">
                                    Rejoindre un monde
                                </a>
                            </li>

                        {% endif %}

                    {% endif %}
              </ul>
          </nav>

          {% if app.user %}
            <ul class="header-rightpart">
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <img class="disconnection_icon" src="{{asset('icons/disconnection.png')}}" alt="Icone de déconnexion">
                    </a>
                </li>
            </ul>
            {% else %}
                <div class="header-rightpart-blankspace">

                </div>
            {% endif %}
    </header>
    {% endblock %}


    {% block content %}
      {% block fos_user_content %}
      {% endblock %}
    {% endblock %}




    {% block footer %}
        <footer>
        </footer>
    {% endblock %}


    {% block javascripts %}
    {% endblock %}

    <!-- JS FRAMEWORKS -->
    <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>

    <!-- SF BUNDLES -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- CUSTOM SCRIPTS -->
    <script src="{{asset('js/chest.js')}}"></script>
    <script src="{{asset('js/watchsea.js')}}"></script>
    <script src="{{asset('js/bottletext.js')}}"></script>
    <script src="{{asset('js/throwbottle.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>

    </body>

</html>
