{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rejoindre un monde</h1>

{% block content %}
    <h1>Worldgames list</h1>


    <ul>
        {% for worldGame in worldGames %}
            <li>
                <a onclick="return joinWorldConfirmation();" href="{{ path('joinworldgame', { 'id': worldGame.id }) }}">Monde {{ worldGame.id }} </a> (X joueurs)

            </li>
        {% endfor %}
    </ul>

    <!-- <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Grid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worldGame in worldGames %}
            <tr>
                <td><a href="{{ path('worldgame_show', { 'id': worldGame.id }) }}">{{ worldGame.id }}</a></td>
                <td>{% if worldGame.grid %}{{ dump(worldGame.grid) }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('worldgame_show', { 'id': worldGame.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('worldgame_edit', { 'id': worldGame.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table> -->

    <ul>
        <li>
            <a href="{{ path('worldgame_new') }}">Create a new worldGame</a>
        </li>
    </ul>

<script>
    function joinWorldConfirmation() {
        var choice = confirm("Voulez-vous rejoindre ce monde ?");
        if (!choice) return false;
    }

</script>

{% endblock %}
{% endblock %}
