{% extends 'base.html.twig' %}

{% block body %}
    <h1>Worldgame</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ worldGame.id }}</td>
            </tr>
            <tr>
                <th>Grid</th>
                <td>{% dump(worldGame.grid) %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('worldgame_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('worldgame_edit', { 'id': worldGame.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
