{% extends 'base.html.twig' %}

{% block content%}
    <h1>Worldgame {{ worldGame.id }}</h1>

    <!-- <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ worldGame.id }}</td>
            </tr>
            <tr>
                <th>Grid</th>
                <td>{% if worldGame.grid %}{{ dump(worldGame.grid) }}{% endif %}</td>
            </tr>
        </tbody>
    </table> -->

    World Map :<br>
    <table id="worldmap">
        <tbody>
            {% for islands in worldGame.grid %}
                <tr>
                    {% for island in islands %}
                        <td>
                            {% if (island is null) or (island == 'coast') %}
                                <img src="{{ asset('img/island-sea100.png') }}" alt="">
                            {% else %}
                                {% if  (island.type  == "captain") %}
                                    <a href="{{ path('island_show', { 'id': island.id }) }}">  <img src="{{ asset('img/island-capitaine100.png') }}" alt=""></a>
                                {% elseif (island.type == "hostil") %}
                                    <a href="{{ path('island_show', { 'id': island.id }) }}">  <img src="{{ asset('img/island-hostile100.png') }}" alt=""></a>
                                {% else %}
                                    <a href="{{ path('island_show', { 'id': island.id }) }}">  <img src="{{ asset('img/island-normal100.png') }}" alt=""></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('worldgame_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('worldgame_edit', { 'id': worldGame.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
