{% extends 'base.html.twig' %}

{% block body %}
    <h1>Island</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ island.id }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ island.localisationX }} ; {{ island.localisationX }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ island.type }}</td>
            </tr>
            <tr>
                <th>
                    <a href="{{ path('hut_show', { 'id': island.hut.id }) }}">Hut !</a>
                </th>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('island_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
