{% extends 'base.html.twig' %}

{% block content%}
    <h1>Île n°{{island.id}}</h1>

    <ul>
        <li>
            Coordonnées :
            {{ island.localisationX }} ; {{ island.localisationY }}
        </li>
        <li>
            Type :
            {{ island.type|capitalize }}
        </li>
    </ul>

    <ul>
        <li>
            <a href="{{ path('island_index') }}">Retour à la Map</a>
        </li>
    </ul>
    <div class="accueil">
      <img src="{{asset("img/backgrounds/island.gif")}}" alt="background accueil">

    </div>

    <audio src="{{asset("son/accueil.mp3")}}" autoplay >
      Votre navigateur ne supporte pas l'élément <code>audio</code>.
    </audio>
{% endblock %}
